* { 
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.pageContainer {
    height: 100vh;
    min-width: 100%;
    background-image: url(images/background.png);
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.navBar {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    height: 5%;
    min-width: 100%;
    justify-content: space-around;
    background-color: rgb(255, 255, 255, 0.3);
}
.navBar ul{
    width: 25%;
    display: flex;
    justify-content: center;
}
/* ===================================================== */
/* navbar buttons (contains the page links) */
button{
    padding: 10px 25px;
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
/* button color change on hover */
button:hover{
    background: #3586ff;
    border: 1px solid #3586ff;
    box-shadow: 0 0 2px 2px #a7c8f9;
}
a {
    text-decoration: none;
    color: white;
}
/* =====================================================*/
/*  content container (all pages) */
.contentContainer {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 10;
    box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.2),
    inset 0 2px 2px rgba(0, 0, 0, 0.2),
    inset 0 -1px 1px rgba(0, 0, 0, 0.2);
}
.contentHomePage{
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 10;
}

.contentContainer h1 {
    font-size: 60px;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.contentContainer h3 {
    font-size: 30px;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.contentContainer #aboutSection {
    font-size: 20px;
    width: 45%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
#aboutSection ion-icon {
    width: 80px;
    height: 80px;

    border: 1px solid white;
}
.contentContainer #experienceSection{
    font-size: 20px;
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contentContainer #bioSection{
    font-size: 20px;
    width: 90%;
    height: 10%;
}
.contentContainer #contactSection {
    font-size: 20px;
    width: 100%;
    height: 10%;
}


/* animation for home page */
/* ========================= */

.energy {
    position: fixed;
    top: 35%;
    left: 40%;
    width: 300px;
    height: 300px;
    z-index: 0;
}
/* .energy img {
    position: fixed;
    top: 36%;
    left: 37.5%;
    width: 330px;
    height: 330px;
    z-index: 1;
} */
.energy span {
    position: absolute;
    width: calc(300px + var(--i));
    height: calc(300px + var(--i));
    background: var(--clr);
    border-radius: 50%;
    transform-origin: calc(100px + var(--i));
    animation: animate 5s linear infinite;
    animation-duration: calc(var(--d));
    mix-blend-mode: plus-lighter;
    filter: blur(30px);
}
.energy span:nth-child(even) {
   animation-direction: reverse;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* =========================== */
/* Footer */
footer {
    position: bottom;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.2);
    height: 10%;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 5;
}

footer .social-icons, footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px 0;
    flex-wrap:wrap;
}

footer .social-icons li, footer .menu li {
    list-style: none;
}

footer .social-icons li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .menu li a{
    font-size: 1.22em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .social-icons li a:hover {
    transform: translateY(-10px);
    color: #3586ff;
    
}
footer .menu li a:hover {
    opacity: 1;
    color: #3586ff;
}
footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

/* ========================== */
/*  About page */
.aboutCard{
    min-width: 82%;
    height: 75%;
    border: 1px solid green;
}
.aboutCard h1 {
    font-size: 60px;
}

/* ================================= */
/* CONTACT PAGE */
/* all glass card effect */
.card{
    width: 90%;
    max-width: 440px;
    color: #fff;
    text-align: center;
    padding: 50px 30px;
    border: 2px solid rgba(255,255,255,0.3);
    box-shadow: 0 0 2px 2px rgb(255, 255, 255);
    background:rgb(255, 255, 255, 0.2);
    position: absolute;
    top: 20%;
    left: 15%;
    transform: translateY(0%);
}
/* rezize glass card image */
.card img{
    width:140px;
    border-radius: 10%;
    background-color: transparent;
}
.card h1{
    font-size: 40px;
    font-weight: 450;
    margin-top: 10px;
    margin-bottom: 10px;
    top: -5%;
    left: 25%;
    color: white;
}
.card h1:hover{
    font-size: 40px;
    font-weight: 450;
    margin-top: 10px;
    margin-bottom: 10px;
    top: -5%; 
    left: 25%;
    color: hsl(197, 94%, 65%);

}
.card:hover{
    width: 90%;
    max-width: 440px;
    color: #fff;
    text-align: center;
    padding: 50px 30px;
    border: 2px solid  hsl(197, 94%, 65%);
    box-shadow: 0 0 2px 2px hsl(197, 94%, 65%);
    background:rgb(255, 255, 255, 0.2);
    position: absolute;
    top: 20%;
    left: 15%;
    transform: translateY(0%);
}
/* resize and position h2 */
.card h2{
   font-size: 30px;
   font-weight: 400;
   margin-top: 20px;
   text-align: center;
}
/* resize and position h3 */
.card h3{
    font-size: 25px;
    font-weight: 350;
    margin-top: 10px;
    text-align: center;
}

/* resize the */
.card p{
    font-size: 18px;
    margin: 10px auto;
    max-width: 380px;
    color:rgb(255, 255, 255);
    text-align: center;
}
.card p:hover{
    font-size: 18px;
    margin: 10px auto;
    max-width: 380px;
    color:hsl(197, 94%, 65%);
    text-align: center;
}
/* resize and position the social links images */
.card .links img{
    width: 40px;
    border-radius: 40%;
    margin: 10px 5px;
    transition: 0.5s;
}
.card .links img:hover{
    background: hsl(197, 94%, 65%);
}
/*  */