@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.pageContainer {
    height: 100vh;
    min-width: 100%;
    background-image: url(images/background.png);
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.navBar {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    height: 12.5%;
    min-width: 100%;
    justify-content: space-around;
    background-color: rgb(255, 255, 255, 0.3);
}
.navBar ul{
    width: 25%;
    display: flex;
    justify-content: center;
}
/* ===================================================== */
/* navbar buttons (contains the page links) */
button{
    padding: 10px 25px;
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
/* button color change on hover */
button:hover{
    background: #3586ff;
    border: 1px solid #3586ff;
    box-shadow: 0 0 2px 2px #a7c8f9;
}
.activeButton {
    background: #3586ff;
    border: 1px solid #3586ff;
    box-shadow: 0 0 2px 2px #a7c8f9;
}
a {
    text-decoration: none;
    color: white;
}
a:is(:link, :active, :visited).active {
    text-decoration: none;
    font-size: 18px;
}
/* =====================================================*/
/*  content container (all pages) */
.contentContainer {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 10;
    box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.2),
    inset 0 2px 2px rgba(0, 0, 0, 0.2),
    inset 0 -1px 1px rgba(0, 0, 0, 0.2);
}
.contentContainer img {
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
}
.contentContainer h1 {
    font-size: 50px;
    height: 10%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentContainer h3 {
    font-size: 35px;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.contentContainer #aboutSectionLib, .contentContainer #aboutSectionLang {
    font-size: 20px;
    width: 45%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
#aboutSectionLang .half {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#aboutSectionLang ion-icon {
    width: 80px;
    height: 80px;
    margin: 0px 20px;
    border: 1px solid white;
}
#html {
    animation: color-change 4.5s infinite;
}
@keyframes color-change {
    0% { color: #e34c26; }
    50% { color:  #ebebeb;}
    100% { color: #e34c26; }
}
#css {
    animation: color-change2 4.5s infinite;
}
@keyframes color-change2 {
    0% { color: #2965f1; }
    50% { color:  #ebebeb;}
    100% { color: #2965f1; }
}
#js {
    animation: color-change3 4.5s infinite;
}
@keyframes color-change3 {
    0% { color: #FFFF00; }
    50% { color:  #ebebeb;}
    100% { color: #FFFF00; }
}
#py {
    animation: color-change4 4.5s infinite;
}
@keyframes color-change4 {
    0% { color: #4B8BBE; }
    50% { color:  #FFE873;}
    100% { color: #4B8BBE; }
}

.contentContainer .project {
    width: 30%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}
.project img {
    width: 90%;
    height: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contentContainer #experienceSection{
    font-size: 20px;
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contentContainer #bioSection{
    font-size: 20px;
    width: 45%;
    height: 80%;
}
.contentContainer #contactSection {
    font-size: 20px;
    width: 90%;
    height: 80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#contactSection #linkNames {
    font-size: 20px;
    width: 100%;
    height: 15%;
    display:flex;
    justify-content: space-around;
}
#contactSection #aboutLinks {
    font-size: 20px;
    width: 100%;
    height: 40%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#contactSection #externalLinks{
    font-size: 20px;
    width: 100%;
    height: 40%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#aboutLinks ion-icon {
    width: 70px;
    height: 70px;
    margin: 0px 284px; 
}
#externalLinks button {
    margin: 0px 250px; 
}
/* =========================== */
/* Footer */
footer {
    position: bottom;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.2);
    height: 12.5%;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 5;
}

footer .social-icons, footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:10px 0;
    flex-wrap:wrap;
}

footer .social-icons li, footer .menu li {
    list-style: none;
}

footer .social-icons li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .menu li a{
    font-size: 1.22em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .social-icons li a:hover {
    transform: translateY(-10px);
    color: #3586ff;
    
}
footer .menu li a:hover {
    opacity: 1;
    color: #3586ff;
}
footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

